.card {
  padding: 2rem;
  background-color: #fff;
  margin: 1rem 0;

  h3 {
    margin: 0;
  }

  h4 {
    margin-bottom: 0;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    .link {
      color: #000;
      text-decoration: none;
    }
  }

  a {
    margin-top: 2rem;
    display: block;
    color: gray;
  }
}