.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: .1rem solid gray;

  .logo {
    h3 {
      margin: 0;

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}